doctype html
html  
  head
    link(rel='stylesheet' href='/stylesheets/layoutcss.css')
    style.
      .body{
       
        background:url(../car1.jpg);
      }
    block content

  body( style = "background-color: #f7f1e3;")
    


